body {
    background-color: #E8E8E8;
}

.HomePage {
    height: 100%;
    width: 100%;
    margin: auto;
}

.HomePage-content {
    height: 95%;
}

.HomePage-informationBlock {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #33A1DE;
}

.HomePage-emptyBlock {  
    height: 33%; 
}

.HomePage-informationContent {
    height: 33%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.HomePage-utilityBlock {
    width: 50%;
    height: 100%;
    float: left;
    background-color: white;

}

.HomePage-loginBlock {
    height: 33%;
}

.HomePage-loginContent {
    width:50%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

.HomePage-signupBlock {
    height: 33%;
}

.HomePage-signupContent {
    width:50%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

.HomePage-footer {
    height: 5%;
    border-top: #aab8c2 1px solid;
}